* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

header input,
button {
  margin-right: 10px;
  background: white;
  padding: 5px;
  border: 2px solid white;
  border-radius: 5px;
  color: black;
}

.trybewarts-header-logo {
  width: 50px;
  padding: 5px;
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}

#getname {
  display: flex;
  flex-direction: row;
}
