* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  height: 50px;
  color: white;
}


footer {
  background-color: rgb(50, 167, 145);
  padding: 10px;
  color: white;
}

.content > div {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.content {
  display: flex;
  flex-direction: row;
}

.textarea {
  display: block;
  width: 100%;
}

label {
  padding: 5px;
}

input , button , select , textarea {
  margin-right: 10px;
  background: white;
  padding: 5px;
  border: 2px solid rgb(50, 167, 145);
  border-radius: 5px;
  color: black;
}

button:disabled {
  background-color: rgba(0, 0, 0, 0.24);
  border: 2px rgb(170, 170, 170) solid;
}

#counter {
  float: right;
}

.trybewarts-header-logo {
  width: 50px;
  padding: 5px;
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}

.label {
  display: flex;
  flex-direction: row;
}

#label-family {
  display: flex;
  flex-direction: column;
}
